#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_BQWTY   0 // BASE qwerty
#define L_BHDNU   1 // BASE handsdown neu

#define L_VGAME   2 // VARIANT gaming
#define L_VALTSWP 3 // VARIANT swap LALT

#define L_MOD1 4 // MOD layer 1
#define L_MOD2 5 // MOD layer 2
#define L_MOD3 6 // MOD layer 3

/ {
        keymap {
                compatible = "zmk,keymap";

                base_qwerty {
                        display-name = "QWTY";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |                |  Y  |  U   |  I  |  O  |  P  | RCTRL  |
// | CTRL |  A  |  S  |  D  |  F  |  G  |                |  H  |  J   |  K  |  L  |  ;  |  '     |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |     |     |    |  N  |  M   |  ,  |  .  |  /  | RSHIFT |
//                    | GUI | LWR | SPC |     |     |    | ENT | RSE  | ALT |
                        bindings = <
   &kp ESC   &kp N1 &kp N2 &kp N3    &kp N4      &kp N5                             &kp N6       &kp N7    &kp N8    &kp N9  &kp N0   &kp BACKSPACE
   &kp TAB   &kp Q  &kp W  &kp E     &kp R       &kp T                              &kp Y        &kp U     &kp I     &kp O   &kp P    &kp RCTRL
   &kp LCTRL &kp A  &kp S  &kp D     &kp F       &kp G                              &kp H        &kp J     &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z  &kp X  &kp C     &kp V       &kp B      &bt BT_NXT &bt BT_PRV   &kp N        &kp M     &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                           &kp LALT  &kp LMETA   &mo L_MOD1 &kp SPACE  &mt RALT RET &mo L_MOD2   &kp RMETA &kp RALT
                        >;
                };
                base_handsdown_neu {
                        display-name = "HDNU";
// -----------------------------------------------------------------------------------------
// |      |  W  |  F  |  M  |  P  |  V  |                |  /  |  .   |  Q  |  '  |  Z  |       |
// |      |  R  |  S  |  N  |  T  |  B  |                |  ,  |  A   |  E  |  I  |  H  |       |
// |      |  X  |  C  |  L  |  D  |  G  |     |     |    |  J  |  U   |  O  |  Y  |  K  |       |
//                    |     |     |     |     |     |    |     |      |     |
                        bindings = <
   &kp ESC  &kp N1 &kp N2  &kp N3   &kp N4    &kp N5                         &kp N6    &kp N7    &kp N8 &kp N9  &kp N0 &kp BACKSPACE
   &trans   &kp W  &kp F   &kp M    &kp P     &kp V                          &kp FSLH  &kp DOT   &kp Q  &kp SQT &kp Z  &trans
   &trans   &kp R  &kp S   &kp N    &kp T     &kp B                          &kp COMMA &kp A     &kp E  &kp I   &kp H  &trans
   &trans   &kp X  &kp C   &kp L    &kp D     &kp G    &trans      &trans    &kp J     &kp U     &kp O  &kp Y   &kp K  &trans
                           &trans   &trans    &trans   &trans      &trans   &trans    &trans    &trans
                        >;
                };
                variant_swapalt {
                        display-name = "SWPALT";
// -----------------------------------------------------------------------------------------
// override LALT w/ LMETA
                        bindings = <
   &trans   &trans &trans  &trans    &trans    &trans                        &trans   &trans    &trans     &trans   &trans    &trans
   &trans   &trans &trans  &trans    &trans    &trans                        &trans   &trans    &trans     &trans   &trans    &trans
   &trans   &trans &trans  &trans    &trans    &trans                        &trans   &trans    &trans     &trans   &trans    &trans
   &trans   &trans &trans  &trans    &trans    &trans   &trans      &trans   &trans   &trans    &trans     &trans   &trans    &trans
                           &kp LMETA &kp LALT  &trans   &trans      &trans   &trans   &trans    &trans
                        >;
                };
                variant_gaming {
                        display-name = "GAME";
// -----------------------------------------------------------------------------------------
// |      |  T  |  Q  |  W  |  E  |  R  |                |  Y  |  U   |  I  |  O  |  P  |        |
// |      |  G  |  A  |  S  |  D  |  F  |                |  H  |  J   |  K  |  L  |  ;  |        |
// |      |  B  |  Z  |  X  |  C  |  V  |     |     |    |  N  |  M   |  ,  |  .  |  /  |        |
//                    |     |     |     |     |     |    |     |      |     |
                        bindings = <
   &trans   &trans &trans  &trans   &trans    &trans                         &trans   &trans    &trans    &trans  &trans   &trans
   &trans   &kp T  &kp Q   &kp W    &kp E     &kp R                          &kp Y    &kp U     &kp I     &kp O   &kp P    &trans
   &trans   &kp G  &kp A   &kp S    &kp D     &kp F                          &kp H    &kp J     &kp K     &kp L   &kp SEMI &trans
   &trans   &kp B  &kp Z   &kp X    &kp C     &kp V      &trans      &trans  &kp N    &kp M     &kp COMMA &kp DOT &kp FSLH &trans
                           &trans   &trans    &trans     &trans      &trans  &trans   &trans    &trans
                        >;
                };
                mod_1 {
                        display-name = "MOD1";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |                |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |                | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |     |     |    |     |     |     |     |     |      |
//                    | GUI |     | SPC |     |     |    | ENT |     | ALT |
                        bindings = <
   &trans &kp EXCL &kp AT   &kp HASH         &kp DLLR      &kp PRCNT                              &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR      &trans
   &trans &kp ESC  &kp PIPE &kp LEFT_BRACKET &kp BACKSPACE &kp RIGHT_BRACKET                      &kp MINUS &kp UNDER &kp EQUAL       &kp PLUS &kp BACKSLASH &trans
   &trans &kp N1   &kp N2   &kp N3           &kp N4        &kp N5            &trans      &trans   &kp N6    &kp N7    &kp N8          &kp N9   &kp N0        &trans
                            &trans           &kp RALT      &trans            &trans      &kp HOME &trans    &kp END   &trans
                        >;
                };

                mod_2 {
                        display-name = "MOD2";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |                |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |                |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |     |     |    |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |     |     |    | ENT |     | ALT |
                        bindings = <
   &trans &kp EXCL &kp AT    &kp HASH       &kp DLLR       &kp PRCNT                               &kp CARET &kp AMPS &kp KP_MULTIPLY &kp LPAR  &kp RPAR  &trans
   &trans &kp ESC  &kp GRAVE &kp LEFT_BRACE &kp BACKSPACE  &kp RIGHT_BRACE                         &kp LEFT  &kp DOWN &kp UP          &kp RIGHT &kp TILDE &trans
   &trans &kp N1   &kp N2    &kp N3         &kp N4         &kp N5          &trans          &trans  &kp N6    &kp N7   &kp N8          &kp N9    &kp N0    &trans
                             &trans         &mt LALT PG_UP &trans          &mt RALT PG_DN  &trans  &trans    &trans   &trans
                        >;
                };
                mod_3 {
                        display-name = "MOD3";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |                |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |                |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |     |     |    |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    |     |     |     |     |     |    |     |     |     |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                     &trans &trans &trans &trans &trans &trans
   &trans     &tog L_VGAME   &trans       &trans       &trans       &trans                           &trans &trans &trans &trans &trans &trans
   &trans     &tog L_VALTSWP &tog L_BHDNU &tog L_BHDNU &tog L_BHDNU &tog L_BHDNU  &trans      &trans &trans &trans &trans &trans &trans &trans
                                          &trans       &trans       &trans        &trans      &trans &trans &trans &trans
                        >;
                };
        };

        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <L_MOD1 L_MOD2>;
                        then-layer = <L_MOD3>;
                };
        };
};
